<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% favicons './public/favicon.svg' %}
    <link rel="stylesheet" href="/@root/src/assets/styles/main.scss">{{ __slinkity.head | safe }}
    {% seo "" %}
</head>
<body>

  {% include "components/banner.njk" %}
  
  {% include "components/header.njk" %}

  {% include "components/menu.njk" %}
  
  <main>
    {{ content | safe }}
  </main>

  {% include "components/footer.njk" %}
</body>
</html>