{% if site.banner %}
  <section id="banner" style="display: none">
    <div class="banner__content">
      <p>
        <a href="/embassy-pro">Embassy Pro</a> presale ends Nov 20, 11:00pm ET. Price will rise from $1,499 to $1,899. <a target="_blank" rel="noopener noreferrer" href="{{ site.products.pro }}">Get yours</a>!
      </p>
    </div>
  </section>
{% endif %}