{% if site.banner %}
  <section id="banner" style="display: none">
    <div class="link-container">
      <a class="overlay" target="_blank" rel="noopener noreferrer" href="{{ site.products.pro }}">
        <div class="banner__content">
          <p class="inner">
            <a href="/embassy-pro">Embassy Pro</a> presale ends Nov 20, 11:00pm ET. Price will rise from $1,499 to $1,899.
          </p>
        </div>
        <span class="link-spanner"></span>
      </a>
    </div>
  </section>
{% endif %}