<footer>
  <script src="https://support.start9.com/assets/chat/chat.min.js"></script>
  <script>
  $(function() {
    new ZammadChat({
      title: '<strong>Chat</strong> with a Start9 Technician',
      background: '#ff4961',
      fontSize: '12px',
      chatId: 1,
      show: true
    });
  });
  </script>
  <div class="footer__content">
    <div class="header">
      {% include "svgs/workmark.svg" %}
      <div class="footer__copyright">{{ site.footer.copyright }}</div>
      <div class="footer__btns">
        <a target="_blank" rel="noopener noreferrer" href="{{ site.torUrl }}">{% include "svgs/tor.svg" %}</a>
        <a href="{{ site.footer.donate }}" class="btn" rel="noopener noreferrer" target="_blank">Donate</a>
      </div>
    </div>
    <ul class="groups">
      {% for group in menu|selectattr("inFooter")|sort(false, false, 'order') %}
      <li class="{{group.size}}">
        <h1>{{group.name}}</h1>
        <ul>
          {% for item in group.items|sort(false, false, 'order') %}
          <li>
            <a {{'class=' + item.class + '' if item.class}} {{'target=' + item.target + '' if item.target}} href="{{item.url}}" rel="noopener noreferrer">{{item.name}}{% if item.icon %}{% include "svgs/" + item.icon + ".svg" %}{% endif %}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="footer__canary">{{ site.footer.canary }}</div>
</footer>