<header>
  <nav>
    <ul>
      {% for group in menu|selectattr("inHeader") %}
        {% for item in group.items %}
          <li class="closed-menu">
            <a {{ 'class=' + item.class + '' if item.class }} {{ 'target=' + item.target + '' if item.target }} href="{{ item.url }}">{{ item.name }}</a>
          </li>
        {% endfor %}
      {% endfor %}
      <li class="closed-menu">
        <a id="menu-open" href="">menu {% include "components/svg/menu-open.svg" %}</a>
      </li>
      <li class="opened-menu">
        <a id="menu-close" href="">close</a>
      </li>
    </ul>
  </nav>
</header>