<header>
  <nav>
    <a class="header__logo" href="/" aria-label="Return Home">
    {% include "svgs/logo.svg" %}
    </a>
    <ul>
      {% for group in menu|selectattr("inHeader") %}
        {% for item in group.items %}
          <li class="closed-menu">
            <a {{ 'class=' + item.class + '' if item.class }} {{ 'target=' + item.target + '' if item.target }} href="{{ item.url }}">{{ item.name }}</a>
          </li>
        {% endfor %}
      {% endfor %}
      <li class="closed-menu">
        <a id="menu-open" href=""><span class="hide-on-mobile">menu</span> {% include "svgs/menu-open.svg" %}</a>
      </li>
      <li class="opened-menu">
        <a id="menu-close" href="">{% include "svgs/menu-close.svg" %}</a>
      </li>
    </ul>
  </nav>
</header>