<header>
  <nav>
    <ul>
      <li class="closed-menu">
        <a href="/store" class="em">store</a>
      </li>
      <li class="closed-menu">
        <a href="/store">dev community</a>
      </li>
      <li class="closed-menu">
        <a id="menu-open" href="#">menu</a>
      </li>
      <li class="opened-menu">
        <a id="menu-close" href="#">close</a>
      </li>
    </ul></nav>
</header>