---
title: License | Start9 
layout: layouts/peripheral.njk
---

<section id="hero">
  <div id="hero-image" class="image-with-shadow">
    <img
      src="/assets/images/about-hero.png"
      alt="license page hero image: a robot emerging from the embasssy"
      title="license page hero image: a robot emerging from the embasssy"/>
    <img class="img-shadow" src="/assets/images/about-hero.png" alt=""/>
  </div>
  <div id="logo">
    <h1>
      <span>License</span>
    </h1>
  </div>
</section>
<section id="license" class="section--no-image">
  {{ content | safe }} 
</section>

