---
layout: layouts/base.njk
---

<link rel="stylesheet" href="/@root/src/assets/styles/peripheral.scss"/>{{ __slinkity.head | safe }}

{{ content | safe }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/CustomEase.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
<script src="{{ '/libs/DrawSVGPlugin.min.js' }}"></script>
<script defer type="module" src="{{ '/@root/src/assets/js/main.js' }}"></script>
<script defer type="module" src="{{ '/@root/src/assets/js/header.js' }}"></script>
<script defer type="module" src="{{ '/@root/src/assets/js/menu.js' }}"></script>
<script defer type="module" src="{{ '/@root/src/assets/js/hero.js' }}"></script>
<script defer type="module" src="{{ '/@root/src/assets/js/peripheral.js' }}"></script>