---
layout: layouts/base.njk
---

<link rel="stylesheet" href="/assets/styles/peripheral.css"/>

{{ content | safe }}

<script defer src="{{ '/assets/js/libraries/gsap.min.js' | url }}"></script>
<script defer src="{{ '/assets/js/libraries/ScrollTrigger.min.js' | url }}"></script>
<script defer src="{{ '/assets/js/libraries/DrawSVGPlugin.min.js' | url }}"></script>
<script defer src="{{ '/assets/js/libraries/CustomEase.min.js' | url }}"></script>
<script defer src="{{ '/assets/js/_header.js' | url }}"></script>
<script defer src="{{ '/assets/js/_menu.js' | url }}"></script>
<script defer src="{{ '/assets/js/_hero.js' | url }}"></script>
<script defer src="{{ '/assets/js/peripheral.js' | url }}"></script>

{# <script defer>

 var options = {
    valueNames: [ 'name', 'city' ]
};

var hackerList = new List('hacker-list', options);

</script> #}