---
layout: layouts/base.njk
---

<link rel="stylesheet" href="/assets/styles/peripheral.css"/>

{{ content | safe }}

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
<script defer src="{{ '/assets/js/gsap.min.js' | url }}"></script>
<script defer src="{{ '/assets/js/ScrollTrigger.min.js' | url }}"></script>
<script defer src="{{ '/assets/js/ScrollSmoother.min.js' | url }}"></script>
<script defer src="{{ '/assets/js/DrawSVGPlugin.min.js' | url }}"></script>
<script defer src="{{ '/assets/js/CustomEase.min.js' | url }}"></script>
<script defer src="{{ '/assets/js/list.min.js' | url }}"></script>
<script defer src="{{ '/assets/js/_header.js' | url }}"></script>
<script defer src="{{ '/assets/js/_menu.js' | url }}"></script>
<script defer src="{{ '/assets/js/_hero.js' | url }}"></script>
<script defer src="{{ '/assets/js/peripheral.js' | url }}"></script>

{# <script defer>

 var options = {
    valueNames: [ 'name', 'city' ]
};

var hackerList = new List('hacker-list', options);

</script> #}