section#support {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  gap: 1rem;
  .cols {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    .col {
      max-width: clamp(min(400px, 90vw), 20rem, 1000px);
    }
  }
  img {
    max-height: 20rem;
    max-width: 100%;
    transform: rotateZ(5deg);
  }
  .image-with-shadow {
    max-width: 8rem;
  }
  .img-shadow {
    top: 1rem;
  }
  .support__content {
    padding-bottom: 0.5rem;
  }
  @media only screen and (max-width: 1200px) {
    .support__content {
      padding-top: 1rem;
    }
  }

  @media only screen and (max-width: 500px) {
    section#support cols{
      gap: 2rem;
    }
    section#support img{
      max-height: 17rem;
    }
  }
}
