<ul
    class="community__icons">
    {# {% for group in menu.filter(e => e.slug == 'contact') %}
                        {% for item in group.items|sort(false, false, 'order') %}
                        <li>
                            <a {{'class=' + item.class + '' if item.class}} {{'target=' + item.target + '' if item.target}} href="/{{item.url}}">{{item.name}}</a>
                        </li>
                        {% endfor %}
                    {% endfor %} #}
    <li>
        <a target="_blank" rel="noopener noreferrer" href="https://matrix.to/#/!lMnRwPWnyQvOfAoEnD:matrix.start9labs.com">{% include "svgs/matrix.svg" %}</a>
    </li>
    <li>
        <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCGEw4HJDvOn3Oy8ykR36P7Q">{% include "svgs/youtube.svg" %}</a>
    </li>
    <li>
        <a target="_blank" rel="noopener noreferrer" href="https://t.me/start9_labs">{% include "svgs/telegram.svg" %}</a>
    </li>
    <li>
        <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/start9labs">{% include "svgs/twitter.svg" %}</a>
    </li>
</ul>