<section id="be-your-own">
    <h1>be <em>your own</em> everything</h1>
    <p>Anything you can do in the permissioned, subscription-based, privacy-invading, insecure model of cloud computing, you can also do in the open, free, private, secure model of sovereign computing</p>
    <div id='ticker'>
        <div id="ticker__selected-frame">
            <span>be your own</span>
            <div id="services">

            </div>
        </div>
        <div id="ticker__window">
            <ul class='pseudoservices'>
                {% for pseudoservice in pseudoservices %}
                <li class="pseudoservice">{{pseudoservice.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <a href="https://marketplace.start9.com/" class="btn">browse the start9 marketplace</a>
</section>