<section id="community">
    <h1>Join the <em>Community</em></h1>
    <input type="email" name="" id="" placeholder="email address">
    <ul class="community__icons">
        {# {% for group in menu.filter(e => e.slug == 'contact') %}
            {% for item in group.items|sort(false, false, 'order') %}
            <li>
                <a {{'class=' + item.class + '' if item.class}} {{'target=' + item.target + '' if item.target}} href="/{{item.url}}">{{item.name}}</a>
            </li>
            {% endfor %}
        {% endfor %} #}
        <li><a target="_blank" href="https://matrix.to/#/!lMnRwPWnyQvOfAoEnD:matrix.start9labs.com">{% include "components/svg/matrix.svg" %}</a></li>
        <li><a target="_blank" href="https://www.youtube.com/channel/UCGEw4HJDvOn3Oy8ykR36P7Q">{% include "components/svg/youtube.svg" %}</a></li>
        <li><a target="_blank" href="https://t.me/start9_labs">{% include "components/svg/telegram.svg" %}</a></li>
        <li><a target="_blank" href="https://twitter.com/start9labs">{% include "components/svg/twitter.svg" %}</a></li>
    </ul>
</section>