<section id="community">
    <h1>Join the <em>Community</em></h1>
    <input type="email" name="" id="" placeholder="email address">
    <ul class="">
        <li>{% include "components/svg/matrix.njk" %}</li>
        <li>{% include "components/svg/youtube.njk" %}</li>
        <li>{% include "components/svg/telegram.njk" %}</li>
        <li>{% include "components/svg/twitter.njk" %}</li>
    </ul>
</section>