<section id="community">
    <h1>Join the <em>Community</em></h1>
    <p>Get newsletter updates, and find us on social media.<br>We will <em>never</em> sell your information.</p>

    {% include "components/landing/_contact.njk" %}
    
</section>