<form id="subscribeForm" action="">
  <input type="email" name="" id="fromEmail" placeholder="email address"/>
  <button id="contactSubmit" type="submit" aria-label="Submit Email" title="Submit Email">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-send" viewBox="0 0 24 24" fill="none" stroke-linecap="round" stroke-linejoin="round">
    {# <path stroke="none" d="M0 0h24v24H0z" fill="none"/> #}
    <line x1="10" y1="14" x2="21" y2="3" vector-effect="non-scaling-stroke" />
    <path d="M21 3l-6.5 18a0.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a0.55 .55 0 0 1 0 -1l18 -6.5" vector-effect="non-scaling-stroke"/>
    </svg>
  </button>
</form>
<div id="emailError" class="form-alert form-alert--error"></div>
<div id="emailSuccess" class="form-alert form-alert--success"></div>
{% include "components/landing/_social-media.njk" %}