<section id="dev">
  <h1><em>Package</em> a service</h1>
  <div class="cols">
    <div class="col">
      <div class="wrapper">
        <div class="content">
          <p>Packaging a service for StartOS is a <em>challenging, exciting, creative, and rewarding</em> experience.</p>
          <p>If it can be self-hosted, it can be run on StartOS.</p>
          <p>Unleash your favorite open source project!</p>
        </div>
        <div class="footer">
          <a class="btn" href="{{ site.dev.docs }}" rel="noopener noreferrer" target="_blank">View the docs</a>
        </div>
      </div>
    </div>
    <div class="col hide-on-mobile">
      <div class="code-wrapper"><img src="/assets/images/dockerfile.png" alt="screenshot of dockerfile" title="screenshot of dockerfile"></div>
    </div>
  </div>
  <div class="skills">
    <p>
      Have other skills? <a href="{{ site.contribute.url }}" rel="noopener noreferrer" target="_blank">We need your help</a>.
    </p>
  </div>
</section>