<section id="dev">
    <h1>Package a <em>service</em></h1>
    <div class="cols">
        <div class="col">
            <div class="wrapper">
                <div class="content">
                    <p style="color: black;">Interested in packaging a service?</p>
                    <p style="color: black;">Our community runs on devs like <em>you</em>.</p>
                </div>
                <div class="footer">
                    <a class="btn" href="{{ site.dev.url }}">learn more</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="code-wrapper"><img src="assets/images/dockerfile.png" alt=""></div>
        </div>
    </div>
</section>