<section id="hero">
    <div id="hero-image">
        <img rel="preload" as="image" src="assets/images/explosion.png" alt="">
        <img rel="preload" as="image" class="img-shadow" src="assets/images/explosion.png" alt="">
    </div>
    <div id="logo">
        <img class="unlazy" src="assets/images/start9_logo.png" alt="">
        <span>sovereign computing</span>
    </div>
</section>
