<section id="hero">
  <div id="logo">
    {% include "svgs/start9-brand.svg" %}
    <span>sovereign computing</span>
  </div>
  <div class="ratings">
    <iframe class="ratings-desktop" src="https://ghbtns.com/github-btn.html?user=Start9Labs&repo=start-os&type=star&count=true&size=large" frameborder="0" scrolling="0" width="135" height="30" title="GitHub"></iframe>
    <iframe class="ratings-mobile" src="https://ghbtns.com/github-btn.html?user=twbs&repo=bootstrap&type=watch&count=true&v=2" frameborder="0" scrolling="0" width="112" height="20" title="GitHub"></iframe>
  </div>
</section>
