<section id="hero">
  <div id="logo">
    {% include "svgs/start9-brand.svg" %}
    <span>sovereign computing</span>
  </div>
  <div class="video-container">
    <div class="video-wrapper">
      <iframe src="https://www.youtube.com/embed/52XMf_NabFA?si=aIlLu0puOOY2_r0b" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
  <div class="ratings">
    <div id= "ap-widget-2" class="ap-widget--mini" data-options='{"prod_code": "startos", "theme":  "dark", "template_id": "mini", "text_color": "#F5F5F5" , "bg_color": "transparent" }'></div>
  </div>
</section>