<section id="infographics">
  <div class="subsection subsection--trust">
    <h1>Why choose a personal server?
    </h1>
    <p>
      {# <em>Whoever controls your data, controls you.</em> #}
      All of our digital actions are surveilled by big tech. You give up your privacy and data without even realizing it. This is the cost of "free" software.
      <br><br>
      Running embassyOS shifts this paradigm. Your photos, messages, transactions, passwords, notes, and businesses can fully function without hidden costs and with zero privacy sacrifices. You become in control of your technology.  
    </p>
    <div id="big-tech-network-image-block" class="image-with-shadow">
      {% include "svgs/big-tech-network-diagram.svg" %}
      <div class="img-shadow">{% include "svgs/big-tech-network-diagram.svg" %}</div>
    </div>
  </div>
  {# <div class="subsection subsection--control">
    <h1>Take back <em>control</em></h1>
    <p>The only way to be free is to cut out the middle men and take control of your data by running a personal server.
      <br><br>
      In the past, running a server was only possible for highly technical people or those who could afford to hire them;
      namely software developers, corporations, wealthy individuals, and politicians.
      <em>Start9 levels the playing field</em>
      by making it possible for the rest of us.
    </p>
    <div id="embassyos-network-image-block" class="image-with-shadow">
      {% include "svgs/embassyos-network-diagram_red_extended.svg" %}
      <div class="img-shadow">{% include "svgs/embassyos-network-diagram_red_extended.svg" %}</div>
    </div>
  </div> #}
</section>