<section id="infographics">
  <div class="subsection subsection--trust">
    <h1><em>Cloud</em> computing</h1>
    <p>The "cloud" is just someone else's computer. Your cell phone and laptop are just remote controls. You are not in control.</p>
    <p>In the cloud computing paradigm, there is no privacy, censorship is commonplace, hacks are inevitable, and costs will forever rise.</p>
    <div class="container">
      <div id="big-tech-network-image-block" class="image-with-shadow">
        <img src="/assets/images/pyramid-down.png" alt="pyramid down big tech" title="pyramid down big tech">
        <img class="img-shadow" src="/assets/images/pyramid-down.png" alt="">
      </div>
    </div>
  </div>
    <div class="subsection">
    <h1><em style="color: #54be54;">Sovereign</em> computing</h1>
    <p>When you run a private server, you are in control. You don't rely on others to process or store your data.</p>
    <p>In the sovereign computing paradigm, concerns over privacy, censorship, hacks, and fees practically disappear.</p>
    <div class="container">
      <div id="big-tech-network-image-block" class="image-with-shadow">
        <img src="/assets/images/pyramid-up.png" alt="pyramid down powered be StartOS" title="pyramid down powered by StartOS">
        <img class="img-shadow" src="/assets/images/pyramid-up.png" alt="">
      </div>
    </div>
  </div>
</section>