<section id="infographics">
    <div class="subsection">
        <h1>The problem is <em>trust</em></h1>
        <p><em>Whoever controls your data, controls you.</em> App companies can see your pictures, read your documents, listen to your conversations, track your location, sell your private information, permanently delete your data, or cut you off at any time. Even if the companies behind these apps are not malicious, they are prime targets for hackers and are vulnerable to political winds.</p>
        {% include "components/svg/problem-with-internet.svg" %}
    </div>
    <div class="subsection inverse">
        <h1>Take back <em>control</em></h1>
        <p>The only way to be free is to cut out the middle men and take control of your data by running a personal server. 
            <br><br>
            In the past, running a server was only possible for highly technical people or those who could afford to hire them; namely software developers, corporations, wealthy individuals, and politicians. <em>Start9 levels the playing field</em> by making it possible for the rest of us.</p>
        {% include "components/svg/embassy-fixes-it.svg" %}
    </div>
</section>