<section id="pitch">
  <h1>This is the way to digital <em>freedom</em></h1>
  <p>Say goodbye to big tech. Get the <em>Embassy</em> personal server to secure your digital life, data, and money... the right way.</p>
  <p>This is the way to use technology.</p>
  {# <a class="btn" href="{{ site.pitch.url }}">learn more</a> #}
  {# <iframe id="odysee-iframe" width="560" height="315" src="https://odysee.com/$/embed/@purism:8/introducing-pureboot-basic:d?r=B2sJWhwiPNQDy457RV1NjAYxDb6uiHGm" allowfullscreen></iframe> #}
</section>
