<section id="pitch">
  <h1>Take back <em>control</em></h1>
  <p>Everything you do online is intermediated - your actions permissioned, your data custodied.</p>
  <p><em>Opt out</em> by running a private server.</p>
  <p>Previously, it was only available to the tech saavy and the wealthy. Start9 levels the playing field by making it possible for everyone else.</p>
  {# <a class="btn" href="{{ site.pitch.url }}">learn more</a> #}
  {# <iframe id="odysee-iframe" width="560" height="315" src="https://odysee.com/$/embed/@purism:8/introducing-pureboot-basic:d?r=B2sJWhwiPNQDy457RV1NjAYxDb6uiHGm" allowfullscreen></iframe> #}
</section>
