<section id="powered-by">
    <h1>Powered by <em>embassyOS</em></h1>
    <div>
        <p>
            embassyOS (eOS) is a browser-based, graphical operating system for a personal server, designed to <em>
                turn anyone into a
                system administrator
            </em> capable of managing their own server.
        </p>
        <p>
            Check out our <a href="https://github.com/Start9Labs/embassy-os" target="_blank" rel="noopener noreferrer">source code!</a>
        </p>
    </div>
    <div id="stack-image-block" class="image-with-shadow">
        {% include "svgs/stack.svg" %}
        <div class="img-shadow">{% include "svgs/stack.svg" %}</div>
    </div>

</section>