<section id="powered-by">
  <h1>Powered by <em>embassyOS</em></h1>
  <p>Just as Windows and macOS made it possible for anyone to own a personal computer, embassyOS makes it possible for anyone to own a personal server.</p>
  <p>embassyOS facilitates the entire process of discovering, installing, configuring, and using any variety of open-source software from anywhere in the world without trusting anyone.</p>
  <p>
    embassyOS is the distribution platform open source software has been waiting for.
    Check out the <a href="https://github.com/Start9Labs/embassy-os" target="_blank" rel="noreferrer">source code</a>!
  </p>
  <div id="stack-image-block" class="image-with-shadow">
    {# {% include "svgs/stack.svg" %}
    <div class="img-shadow">{% include "svgs/stack.svg" %}</div> #}
    <div class="container">
      <img src="/assets/images/embassyOS.png" alt="screenshots of embassyOS UI" title="screenshots of embassyOS UI">
      <img class="img-shadow" src="/assets/images/embassyOS.png" alt="">
    </div>
  </div>
</section>