<section id="powered-by">
    <h1>Powered by <em>EmbassyOS</em></h1>
    <div>
        <p>
            In the past, running a server was only possible for highly technical people or those who could afford to hire them;
            namely software developers, corporations, wealthy individuals, and politicians. Start9 levels the playing field by
            making it possible for the rest of us.
        </p>
        <p>
            EmbassyOS (EOS) is a browser-based, graphical operating system for a personal server, designed to turn anyone into a
            system’s administrator capable of managing their own server.
        </p>
    </div>
    <div class="image-with-shadow">
        {% include "components/svg/stack.svg" %}
        <div class="img-shadow">{% include "components/svg/stack.svg" %}</div>
    </div>
    <a class="source-link" href="{{ site.poweredBy.url }}" target="_blank">
    <div class="image-with-shadow">
        <img src="../assets/images/code1.png" alt=""/>
        <img class="img-shadow" src="../assets/images/code1.png" alt=""/>
    </div>
    check out the <span>source code</span></a>
</section>