<section id="products">
  <div class="subsection subsection--buy panel--shadow">
    <a class="product product--buy" href="{{ site.products.buyUrl }}" rel="noopener noreferrer" target="_blank">
      <img class="product__buy-image" src="/assets/images/server-sketch.png" alt="prefab server, represented in voxels" title="prefab server, represented in voxels">
      <img class="img-shadow" src="/assets/images/server-sketch.png" alt="">
      <div class="heading">
        <h1 class="product__header">buy</h1>
        <span class="product__subheader">your server</span>
      </div>
      {% include "svgs/server-sketch-lines.svg" %}
    </a>
  </div>
  <div class="subsection subsection--diy panel--shadow">
    <a class="product product--diy" href="{{ site.products.diyUrl }}" rel="noopener noreferrer" target="_blank">
      <div class="heading">
        <span class="product__subheader"><strong>like to tinker?</strong></span>
        <span class="product__subheader">DIY your server</span>
      </div>
    </a>
  </div>
</section>