<section id="products">
    <div class="product-group">
        <div class="product">
            <div class="product__box">
                <div class="front">
                <h1>Embassy ONE</h1>
                </div>
                <div class="back">
                Back
                </div>
                <div class="top">
                Top
                </div>
                <div class="bottom">
                Bottom
                </div>
                <div class="left">
                Left
                </div>
                <div class="right">
                You assemble the hardware. You download the OS or build from source.
                </div>
            </div>
        </div>
        <div class="product product--pro">
            <div class="product__box">
                <div class="front">
                <h1>Embassy PRO</h1>
                </div>
                <div class="back">
                Back
                </div>
                <div class="top">
                Top
                </div>
                <div class="bottom">
                Bottom
                </div>
                <div class="left">
                Left
                </div>
                <div class="right">
                You assemble the hardware. You download the OS or build from source.
                </div>
            </div>
        </div>
        <div class="product">
            <div class="product__box">
                <div class="front">
                <h1>Do it yourself</h1>
                </div>
                <div class="back">
                Back
                </div>
                <div class="top">
                Top
                </div>
                <div class="bottom">
                Bottom
                </div>
                <div class="left">
                Left
                </div>
                <div class="right">
                You assemble the hardware. You download the OS or build from source.
                </div>
            </div>
        </div>
    </div>
    <aside><h3>Welcome to the <em>revolution</em>.</h3></aside>
</section>