<section id="products">
        <div class="subsection subsection--buy">
            <a class="product product--buy" href="{{ site.products.buyUrl }}">
                <img class="product__buy-image" src="assets/images/embassy-pro-sketch.png" alt="prefab embassy, represented in voxels" title="prefab embassy, represented in voxels">
                <img class="img-shadow" src="assets/images/embassy-pro-sketch.png" alt="">
                <div class="heading">
                    <h1 class="product__header">buy</h1>
                    <span class="product__subheader">your embassy</span>
                </div>
                {% include "components/svg/buy-real-lines2.svg" %}
            </a>
        </div>
        <div class="subsection subsection--diy">
            <a class="product product--diy" href="{{ site.products.diyUrl }}">
                {# <img src="assets/images/diy.png" alt="partially assembled embassy, represented in voxels" title="partially assembled embassy, represented in voxels">
                <img class="img-shadow" src="assets/images/diy.png" alt=""> #}
                <div class="heading">
                    <span class="product__subheader"><strong>like to tinker?</strong></span>
                    <span class="product__subheader">DIY your embassy</span>
                </div>
                {# {% include "components/svg/diy-lines.svg" %} #}
            </a>
        </div>
</section>