<section id="products">
        <div class="subsection">
            <a class="product product--buy" href="{{ site.products.buyUrl }}">
                <img src="../assets/images/buy.png" alt="">
                <img class="img-shadow" src="../assets/images/buy.png" alt="">
                <div class="heading">
                    <h1 class="product__header">buy</h1>
                    <span class="product__subheader">your embassy</span>
                </div>
                {% include "components/svg/buy-lines.svg" %}
            </a>
        </div>
        <div class="subsection">
            <a class="product product--diy" href="{{ site.products.diyUrl }}">
                <img src="../assets/images/diy.png" alt="">
                <img class="img-shadow" src="../assets/images/diy.png" alt="">
                <div class="heading">
                    <h1 class="product__header">diy</h1>
                    <span class="product__subheader">your embassy</span>
                </div>
                {% include "components/svg/diy-lines.svg" %}
            </a>
        </div>
</section>