<section id="support" class="section--subtle panel--shadow">
  <div class="cols">
    <h1>We got your back</h1>
    <div class="image-with-shadow">
      <img src="/assets/images/support-header.png" alt="life preserver icon" title="life preserver icon">
      <img class="img-shadow" src="/assets/images/support-header.png" alt="">
    </div>
  </div>
  <div class="support__content">
    <p>
      Start9's customer support is the best in the galaxy. Our team, composed of real humans, is here for you.
    </p>
    <p>
      We provide the knowledge and context you need to feel confident in the world of sovereign computing.
    </p>
    {# <p>
      At Start9, we pride ourselves on providing the <em>best customer support in the world</em>. We offer a comprehensive and detailed
      user manual, an extensive FAQ, written and video tutorials, and direct access to our wonderful community and team of
      technical experts.
    </p> #}
  </div>
  <a class="btn" href="{{ site.support.url }}" rel="noopener noreferrer" target="_blank">Get help</a>
</section>