<section id="support" class="inverse">
  <h1>get <em>help</em></h1>
  <p>
    Even though we've made it easy, running a personal server can still be intimidating or confusing at times. 
  </p><p>
    At Start9, we pride ourselves on providing the best customer support in the world. We offer a comprehensive and detailed user manual, an extensive FAQ, written and video tutorials, and direct access to our wonderful community and team of technical experts.
  </p>
  <a class="btn" href="/about#team">meet the team</a>
</section>