---
title: Not Found | Start9 
layout: layouts/peripheral.njk
permalink: 404.html
---

<section id="hero">
  <div id="hero-image" class="image-with-shadow">
    <img
      src="/assets/images/dev-hero.png"
      alt="404 page hero image: html tag emerging from an embassy"
      title="404 page hero image: html tag emerging from an embassy"/>
    <img class="img-shadow" src="/assets/images/dev-hero.png" alt=""/>
  </div>
  <div id="logo">
    <h1>
      <span>Page not found</span>
    </h1>
  </div>
</section>
<section id="not-found" class="section--no-image">
  We cannot find what you are looking for :(
</section>

