---
title: About | Start9 
layout: layouts/peripheral.njk
---

<section id="hero" class="hero--about">
    <div id="hero-image" class="image-with-shadow">
        <img src="/assets/images/about-hero.png" alt="about page hero image: a robot emerging from the embasssy" title="about page hero image: a robot emerging from the embasssy"/>
        <img class="img-shadow" src="/assets/images/about-hero.png" alt=""/>
    </div>
    <div id="logo">
        <h1>
            {% include "svgs/about-start9.svg" %}
            <span style="display: none;">About Start9</span>
        </h1>
        <ul id="sub-menu">
            <li>
                <a href="#mission">mission</a>
            </li>
            <li>
                <a href="#values">values</a>
            </li>
            <li>
                <a href="#virtues">virtues</a>
            </li>
            <li>
                <a href="#origin">origin story</a>
            </li>
            <li>
                <a href="#team">team</a>
            </li>
        </ul>
    </div>
</section>
<section id="blurb">
    <h2>Privacy and<br/> free speech are fundamental human rights and essential ingredients for a free society.</h2>
    <p>Human history demonstrates that, when entrusted to others, these rights are invariably denied, resulting in great
        suffering. As such, it is necessary for individuals to protect their own privacy and right to speak freely.
    </p>
    <p>Fortunately, modern technologies, in the form of personal computers, encryption, and open, decentralized network
        protocols such as the Internet and Bitcoin, make this a real possibility.
    </p>
    <p>What is needed is a revolution in personal computing away from the current, hosted, custodial model that breeds
        dependency and corruption, towards a decentralized model, where individuals have absolute control over their data and
        communications.</p>
</section>
<section id="mission">
    <h2>Mission</h2>
    <div class="section__double-image">
        <div class="section__image section__image--left">
            <img src="/assets/images/mission-left-header.png" alt="mission section hero: a rocketship trail" title="mission section hero: a rocketship trail"/>
            <img class="img-shadow" src="/assets/images/mission-left-header.png" alt=""/>
        </div>
        <h3>To eliminate the need for trusted third parties in the human/computer relationship.</h3>
        <div class="section__image section__image--right">
            <img src="/assets/images/mission-right-header.png" alt="mission section hero: a rocketship with trail" title="mission section hero: a rocketship with trail"/>
            <img class="img-shadow" src="/assets/images/mission-right-header.png" alt=""/>
        </div>
    </div>
    {# <img src="" alt="" class="section__img section__img--bkg"/> #}
</section>
<section id="values">
    <h2>Values</h2>
    <div class="section__image">
        <img src="/assets/images/values-header.png" alt="values section hero: an eye with a slash through it" title="values section hero: an eye with a slash through it"/>
        <img class="img-shadow" src="/assets/images/values-header.png" alt=""/>
    </div>
    <p>
        <strong>This list of values is not comprehensive. It does not encapsulate all the values of all the members of Start9.
            Instead, we attempt to enumerate those values which represent the fulfillment of our mission and which are practically
            within our ability to achieve.</strong>
    </p>
    <h4>decentralization</h4>
    <p>Centralized systems act as single points of failure and are susceptible to corruption. Decentralized systems afford
        greater robustness and soundness guarantees.</p>
    <H4>openness</H4>
    <p>Everyone should have permissionless access to computing resources and tools, unrestricted by geography, ethnicity, or
        belief.</p>
    <H4>community</H4>
    <p>The human experience is richest when shared amongst individuals who possessing common beliefs, values, and
        activities, and that computers should facilitate the formation of communities.</p>
    <H4>privacy</H4>
    <p>There are four reasons that privacy is necessary for a free society and proper human existence: privacy (1) promotes
        creativity and experimentation by minimizing the risk of embarrassment; (2) protects valuable information from theft and
        extortion; (3) enables the diffusion of contrarian ideals and ideas; (4) serves as an insurance policy against the
        future, in the event that what is acceptable today becomes unacceptable tomorrow.</p>
    <h4>independence</h4>
    <p>Being dependent means being unable to survive on your own. Like a child, it means needing others and relying on them
        to provide for you, thus granting them power over you. A free and dignified human existence demands self-reliance: the
        ability to think and act with efficacy to obtain one’s needs.</p>
</section>
<section id="virtues">
    <h2>Virtues</h2>
    <div class="section__image">
        <img src="/assets/images/virtues-header.png" alt="virtues section hero: a sunrise between mountains" title="virtues section hero: a sunrise between mountains"/>
        <img class="img-shadow" src="/assets/images/virtues-header.png" alt=""/>
    </div>
    <p>
        <strong>Below are the virtues or qualities of character needed to achieve our values and accomplish our mission.</strong>
    </p>
    <h4>Audacity</h4>
    <p>A willingness to take bold risks.</p>
    <h4>Tenacity</h4>
    <p>Fierce determination and relentless effort.</p>
    <h4>Excellence</h4>
    <p>Setting high standards and never settling for less.</p>
    <h4>courtesy</h4>
    <p>Treating others politely, with kindness and due respect.</p>
    <h4>generocity</h4>
    <p>providing beyond what is necessary or expected.</p>
    <h4>fortitude</h4>
    <p>Having courage in the face of pain or adversity.</p>
    <h4>integrity</h4>
    <p>The virtue that underlies all others. The quality of being whole and genuine, intact and unbroken, internally
        consistent, and adhering to principle in all cases.</p>
</section>
<section id="origin">
    <h2>Origin Story</h2>
    <div class="section__image">
        <img src="/assets/images/origin-header.png" alt="origin section hero: pikachu" title="origin section hero: pikachu"/>
        <img class="img-shadow" src="/assets/images/origin-header.png" alt=""/>
    </div>
    <p>
        <strong>Pokemon is a game for Gameboy.</strong>
        Twitch is a live video streaming app. “Twitch Plays Pokemon” was a popular phenomenon where Twitch users would
        collaborate to play a SHARED game of Pokemon on Gameboy. Here’s how it worked:</p>
    <p>Participants would use the Twitch message board to enter commands that then got executed in the gameplay. For
        example, if someone entered the command “right”, that would cause the player to move 1 space to the right. Commands
        would execute immediately after they were received, and anyone could enter a valid command at any time. You can think of
        Twitch Plays Pokemon as the more practical equivalent of placing a Gameboy in the middle of a crowded room and telling
        everyone to push buttons at the same time. As you might expect, the gameplay of Twitch Plays Pokemon was quite
        “twitchy”, but in a very “infinite monkey theory” way, progress could eventually be made.</p>
    <p>
        <strong>In an effort to streamline play</strong>, a new game mode was devised in which players would “vote” for the next
            command and, every 4 seconds, whatever command received the most votes over the previous 4 seconds would execute in the
            game. Also introduced in this mode was the ability to attach multipliers to a command, such that the command would
            execute that number of times. For example, “right2” would cause the player to move 2 spaces to the right. “right3” would
            cause the player to move 3 spaces to the right, and so on. The highest number any participant could place after a
            command was 9, meaning whatever command they entered would execute 9 times. As you might expect, gameplay in this mode
            was less chaotic, more efficient, but it also meant each participant had less direct and immediate influence over the
            game. If a group of even 5-10 got together and colluded on their votes, they could practically take over the game and
            make contrarian ideas irrelevant. The new game mode was called “Democracy”, and the original game mode became known as
            “Anarchy”. Which game mode was engaged was itself governed by a democratic process: if more participants wanted to play
            in Democracy mode, then Democracy mode engaged; if more wanted to play in Anarchy mode, then Anarchy mode engaged.</p>
    <p>To summarize:
        <strong>in Anarchy mode, everyone had equal influence over the game</strong>, but progress was slow and clunky. In
            Democracy mode, progress was fast and efficient, but colluding groups could marginalize individual participants and ruin
            the game for them.</p>
    <p>So… individual participants
        <strong>discovered a means of effective protest</strong>
        whenever Democracy mode became suffocating, but they could not garner enough votes to switch back to Anarchy mode.
        Someone would type the command “start9” into the comments. This command meant “open the start menu 9 times in a row”,
        which, as you might imagine, would be enormously disruptive if executed. The entire screen would be blocked by the start
        menu, over and over. Typing “start9” was a participant’s way of signaling to other participants that they felt
        marginalized by Democracy mode, and they were ready to fight back. If others felt the same, they could also begin typing
        “start9” - then, sure enough, “start9” would finally receive more votes than the colluding group’s command, and the menu
        opening would begin. Every 4 seconds, the menu would open 9 times…again, and again, and again…until finally, the
        colluding group would be forced to either cooperate in reverting the game mode back to Anarchy mode or quit altogether.</p>
    <p>Playing in Anarchy mode was impractical, but people did not want to play a game where they had no voice, where a
        group of insiders had taken total control. And so
        <strong>“start9” became the battle cry of the individual</strong>, the out-group, a means of signaling to other
            individuals that it was time to fight back against the usurpers - to use their own rules against them, until there was
            no alternative but to return control to the individual participants.</p>
</section>
<section id="team">
    <h2>Our Team</h2>
    <div class="section__image">
        <img src="/assets/images/team-header.png" alt="team section hero: robots being printed" title="team section hero: robots being printed"/>
        <img class="img-shadow" src="/assets/images/team-header.png" alt=""/>
    </div>

    <ul class="members">
        {% for member in team %}
            <li class="member">
                <img class="member__avatar" src="{{ member.avatar_url }}" alt="{{ member.name }}'s avatar" title="{{ member.name }}'s avatar"/>
                <div class="member__content">
                    <h4>{{ member.name }}</h4>
                    <h5>{{ member.position }}</h5>
                    <p>{{ member.blurb }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>