---
title: Caching
layout: layouts/peripheral.njk
---

<section id="hero">
  <div id="hero-image" class="image-with-shadow">
    <img src="/assets/images/jobs-hero.png" alt="caching page hero: laptop emerging from an embassy" title="caching page hero: laptop emerging from an embassy"/>
    <img class="img-shadow" src="/assets/images/jobs-hero.png" alt=""/>
  </div>
  <div id="logo">
    <h1>
      <span>Is your problem caching?</span>
    </h1>
  </div>
</section>

<section id="contact">
  <h2>YES*</h2>
  <br />
  <p>*Answer may be incorrect due to caching</p>
</section>