---
title: Contact
layout: layouts/peripheral.njk
---

<section id="hero">
  <div id="hero-image" class="image-with-shadow">
    <img src="/assets/images/contact-hero.png" alt="contact page hero: @ symbol emerging from a server" title="contact page hero: @ symbol emerging from a server"/>
    <img class="img-shadow" src="/assets/images/contact-hero.png" alt=""/>
  </div>
  <div id="logo">
    <h1>
      <span>Contact Us</span>
    </h1>
  </div>
</section>

<section id="contact">
  <h4 class="text-center">Reach out on social media</h4>
  {% include "components/landing/social-media.njk" %}
  <h4 class="text-center">message us</h4>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <div id="feedback-form">form will be placed in here</div>

  <script id="zammad_form_script" src="https://support.start9.com/assets/form/form.js"></script>

  <script>
  $(function() {
    $('#feedback-form').ZammadForm({
      messageTitle: 'Start9 Contact Form',
      messageSubmit: 'Submit',
      messageThankYou: 'Thank you for your inquiry (#%s)! We\'ll contact you as soon as possible.'
      attachmentSupport: true
    });
  });
  </script>
</section>