---
title: Contribute
layout: layouts/peripheral.njk
---

<section id="hero" class="hero--about">
  <div id="hero-image" class="image-with-shadow">
    <img src="/assets/images/about-hero.png" alt="about page hero image: a robot emerging from a server" title="about page hero image: a robot emerging from a server"/>
    <img class="img-shadow" src="/assets/images/about-hero.png" alt=""/>
  </div>
  <div id="logo">
    <h1>
      {% include "svgs/contribute.svg" %}
      <span style="display: none;">Contribute</span>
    </h1>
    <ul id="sub-menu">
      <li>
        <a href="#techs">Techs</a>
      </li>
      <li>
        <a href="#creators">Creators</a>
      </li>
      <li>
        <a href="#promoters">Promoters</a>
      </li>
      <li>
        <a href="#devs">Devs</a>
      </li>
    </ul>
  </div>
</section>
<section id="blurb">
  <h2>How can you help?</h2>
  <p>Start9 will not become a monolithic trusted third party, and to that end, we need your help!  Only with a strong community can this project be successful.  One of the most important things an individual can do to help the movement is to spread the word about Sovereign Computing and help others learn how to declare their own independence.  We also have a variety of other opportunities - choose one based on your skill-set!</p>
</section>
<section id="techs">
  <h2>Community Support Techs</h2>
  <div class="section__image">
    <img src="/assets/images/jobs-hero.png" alt="techs section hero: open laptop" title="techs section hero: open laptop"/>
    <img class="img-shadow" src="/assets/images/jobs-hero.png" alt=""/>
  </div>
  <p>We take support and education extremely seriously at Start9.  We need motivated and passionate individuals to help us scale our highly-rated community support team.  If accepted, there will be mandatory training which will teach you to be a StartOS expert as well as an empathetic first responder.  During slow support days, there will be opportunities to assist with beta testing, quality assurance, and more.  This program will be constantly expanding, with application periods occurring approximately once per year.</p>

  <h4>Requirements</h4>
  <p>A passion for Freedom-principled technologies.  Basic computing skills are needed.  Linux, sysadmin, or devops experience is a bonus.  Empathy and patience are important to successfully guide those struggling with frustrating issues.</p>

  <h4>Flexibility</h4>
  <p>This will be a contracted position, and acceptance into this program will grant you the right (but not the obligation) to sign up for and cover support shifts.  These shifts will be on-demand and first come, first serve.</p>

  <h4>Benefits</h4>
  <p>Do what you love.  Get paid in Bitcoin.  Get early access to the bleeding edge of Sovereign Computing.</p>
  <a href="{{ site.contribute.techDetails }}" class="btn center" rel="noopener noreferrer" target="_blank">More details</a>
</section>
<section id="creators">
  <h2>Creators</h2>
  <div class="section__image">
    <img src="/assets/images/news-hero.png" alt="creators section hero: a television" title="creators section hero: a television"/>
    <img class="img-shadow" src="/assets/images/news-hero.png" alt=""/>
  </div>
  <h4>Feedback</h4>
  <p>We thrive on user feedback!  Write reviews or blog posts on Medium, Ghost, Substack, Reddit, Mastodon, Twitter, NOSTR, or others.  It may not seem like it, but a single review can teach us a lot, or help others understand the mission. As these reviews add up, we can become more aware of pain points and popular requests.  Whether you believe in our ethos, had a good experience with a support call, or want to do a full unboxing / test / review / how-to, ALL feedback is valuable and helps spread the message at the same time!</p>
  <h4>Content Creation</h4>
  <p>Online content is incredibly powerful. Whether you are a professional creator or this is your first time, it is certain that you will bring unique value to others.  Here are some ways to spread the word:</p>
  <ul>
    <li>
      <h3>Memes</h3>
      <p>Make and/or share the latest fire images and gifs related to Sovereign Computing.  Make sure to be in a relevant channel!</p>
    </li>
    <li>
      <h3>Video</h3>
      <p>Create videos on device unboxing, how-to guides, comparisons with related projects, short or long-form reviews, interviews (please reach out to us!), or philosophical / technical concepts.</p>
    </li>
    <li>
      <h3>Audio</h3>
      <p>Create podcasts, radio shows, or quick messages.  Cover philosophical, technical, or practical concepts.  Host interviews or conversations (please reach out to us!).  If you're not sure where to start, create audio from existing text content for accessibility.</p>
    </li>
  </ul>
</section>
<section id="promoters">
  <h2>Promoters</h2>
  <div class="section__image">
    <img src="/assets/images/privacy-hero.png" alt="promoters section hero: a privacy ninja" title="promoters section hero: a privacy ninja"/>
    <img class="img-shadow" src="/assets/images/privacy-hero.png" alt=""/>
  </div>
  <p>Are you a great communicator and a fan of Sovereign Computing?  Consider our affiliate program!  You'll get a unique affiliate code to pass along to your audience, and get a kickback (if you choose).  Email us at {% include 'components/emails/affiliate-email.njk' %} for details.</p>
</section>
<section id="devs">
  <h2>Developers</h2>
  <div class="section__image">
    <img src="/assets/images/dev-hero.png" alt="dev section hero: terminal icon" title="dev section hero: terminal icon"/>
    <img class="img-shadow" src="/assets/images/dev-hero.png" alt=""/>
  </div>
  <p>If you have Rust or Typescript skills, and are interested in doing OS development, please checkout the <a href="https://github.com/Start9Labs/start-os/blob/master/CONTRIBUTING.md" target="_blank" rel="noopener noreferrer">contribution guide</a>. If you are interested in packaging a service, please check out our <a href="https://docs.start9.com/latest/developer-docs/index" target="_blank" rel="noopener noreferrer">developer documentation</a>.  To report a security vulnerability, please email {% include 'components/emails/security-email.njk' %}</p>
</section>
