---
title: Embassy Pro
excerpt: Introducting our new flagship personal server product for sovereign computing
image: https://start9.com/thumbnail-pro.jpg
ogtype: summary
layout: layouts/peripheral.njk
---

<section id="hero">
  <div id="hero-image" class="image-with-shadow">
    <img src="/assets/images/news-hero.png" alt="news page hero: html tag emerging from an embassy" title="news page hero: tv emerging from an embassy"/>
    <img class="img-shadow" src="/assets/images/news-hero.png" alt=""/>
  </div>
  <div id="logo">
    <h1 class="text-center pb1">
      <span>Embassy Pro</span>
    </h1>
    <div id="pro-tagline">
      <p class="pb1">Introducting our new flagship product</p>
      <a href="{{ site.products.pro }}" class="btn" rel="noopener noreferrer" target="_blank">Get yours</a>
    </div>
  </div>
</section>

<section class="video-container">
  <div class="video-wrapper">
    <iframe src="/assets/videos/compressed.mp4" allowfullscreen></iframe>
  </div>
</section>