---
title: Embassy Pro
excerpt: Introducting our new flagship personal server product for sovereign computing
image: https://start9.com/thumbnail-pro.jpg
ogtype: summary
layout: layouts/peripheral.njk
---
<section id="hero">
  <div id="hero-image" class="image-with-shadow">
    <img src="/assets/images/news-hero.png" alt="news page hero: html tag emerging from an embassy" title="news page hero: tv emerging from an embassy"/>
    <img class="img-shadow" src="/assets/images/news-hero.png" alt=""/>
  </div>
  <div id="logo">
    <h1 class="text-center pb1">
      <span>Embassy Pro</span>
    </h1>
    <div id="pro-tagline">
      <p class="pb1">Introducting our new flagship product</p>
      <a href="{{ site.products.pro }}" class="btn" rel="noopener noreferrer" target="_blank">Get yours</a>
    </div>
  </div>
</section>
  
<section id="pro-video">
  <div data-player-id="dd03b0e0-e64c-4a3b-aef5-69195ab2aa61" >
    <script src="//cdn.flowplayer.com/players/21e0a777-b621-48d2-9f92-701c1e1fc844/native/flowplayer.async.js">
      { "src": "https://customer-g9m9y1yjgqx9eniu.cloudflarestream.com/733ce92ef09cba3eeb9c4d0a06370b24/manifest/video.m3u8", "poster": "https://start9.com/thumbnail-pro.jpg" }
    </script>
  </div>
</section>