---
title: Embassy Pro
excerpt: Introducting our new flagship personal server product for sovereign computing
image: /assets/images/pro-video
ogtype: summary
---

<section id="hero">
  <div id="hero-image" class="image-with-shadow">
    <img src="/assets/images/news-hero.png" alt="news page hero: html tag emerging from an embassy" title="news page hero: tv emerging from an embassy"/>
    <img class="img-shadow" src="/assets/images/news-hero.png" alt=""/>
  </div>
  <div id="logo">
    <h1>
      <span>Embassy Pro</span>
    </h1>
    <div id="pro-tagline">
      <p>Introducting our new flagship product</p>
      <a href="{{ site.products.pro }}" class="btn" rel="noopener noreferrer" target="_blank">Get yours</a>
    </div>
  </div>
</section>
  
<section id="pro-video">
  <iframe id="pro-iframe" width="100%" height="100%" src="/assets/videos/Embassy_Pro_final.mp4" allowfullscreen></iframe>
</section>
  