---
title: Sovereign Computing
layout: layouts/base.njk
---

<link rel="stylesheet" href="/@root/src/assets/styles/landing.scss">{{ __slinkity.head | safe }}

{% include "components/landing/hero.njk" %}

<div class="line" id="hero-to-pitch">
  {% include "svgs/lines/hero-to-pitch.svg" %}
</div>

{% include "components/landing/pitch.njk" %}

{% include "components/landing/products.njk" %}

<div class="line" id="products-to-info">
  {% include "svgs/lines/products-to-info.svg" %}
</div>

{% include "components/landing/powered-by.njk" %}

<div class="line" id="be-to-powered">
  {% include "svgs/lines/be-to-powered.svg" %}
</div>

{% include "components/landing/infographics.njk" %}

<div class="line" id="powered-to-support">
  {% include "svgs/lines/powered-to-support.svg" %}
</div>

{% include "components/landing/be-your-own.njk" %}

{% include "components/landing/bitcoin.njk" %}

<div class="line" id="bitcoin-to-be">
  {% include "svgs/lines/bitcoin-to-be.svg" %}
</div>

{% include "components/landing/support.njk" %}

<div class="line" id="support-to-dev">
  {% include "svgs/lines/support-to-dev.svg" %}
</div>

{% include "components/landing/dev.njk" %}

<div class="line" id="dev-to-contact">
  {% include "svgs/lines/dev-to-contact.svg" %}
</div>

{% include "components/landing/community.njk" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/CustomEase.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
<script src="{{ '/libs/DrawSVGPlugin.min.js' }}"></script>
<script defer type="module" src="{{ '/@root/src/assets/js/main.js' | url }}"></script>
<script defer type="module" src="{{ '/@root/src/assets/js/appearance-animation.js' | url }}"></script>
<script defer type="module" src="{{ '/@root/src/assets/js/bitcoin-animation.js' | url }}"></script>
<script defer type="module" src="{{ '/@root/src/assets/js/contact.js' | url }}"></script>
<script defer type="module" src="{{ '/@root/src/assets/js/header.js' | url }}"></script>
<script defer type="module" src="{{ '/@root/src/assets/js/banner.js' }}"></script>
<script defer type="module" src="{{ '/@root/src/assets/js/hero.js' | url }}"></script>
<script defer type="module" src="{{ '/@root/src/assets/js/menu.js' | url }}"></script>
<script defer type="module" src="{{ '/@root/src/assets/js/landing.js' | url }}"></script>
<script defer type="module" src="{{ '/@root/src/assets/js/ticker-animation.js' | url }}"></script>