---
title: News | Start9 
layout: layouts/peripheral.njk
---

<section id="hero">
    <div id="hero-image">
        <img src="../assets/images/news-hero.png" alt=""/>
        <img class="img-shadow" src="../assets/images/news-hero.png" alt=""/>
    </div>
    <div id="logo">
        <h1>
            <span>News</span>
        </h1>
    </div>
</section>