#why {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  margin: 6rem 0;
  padding: 6rem;
  box-sizing: border-box;
  width: 100%;

  --size: 3rem;
  --p-t: calc(0.2 * var(--size));
  --p-b: calc(0 * var(--size));
  --p: var(--p-t) 0 var(--p-b) calc(0.2 * var(--size));
  --line: calc(var(--p-t) + var(--p-b) + var(--size));

  h2 {
    text-align: center;
  }


    #ticker {
      height: 50vh;
      position: relative;
      width: 100%;

      #ticker__selected-frame {
        outline: 1px solid white;
        outline-offset: calc(0.1 * var(--size));
        font-size: var(--size);
        text-transform: uppercase;
        line-height: var(--size);
        position: absolute;
        top: calc(5 * var(--line));
        left: -.5ch;
        right: 0;
        display: flex;
        align-items: center;
        height: var(--size);
        padding: var(--p);
      }
      #ticker__window {
        height: 50vh;
        width: calc(100vw - 12rem - 11.5ch);
        overflow: hidden;
        font-size: var(--size);
        left: 11.5ch;
        position: relative;
      }

      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          font-size: var(--size);
          line-height: 1;
          display: flex;
          align-items: center;
          height: var(--size);
          padding: var(--p);
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  a.btn{
    align-self: center;
  }
}
