#be-your-own {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  //margin: 0 0 6rem 0;
  padding: 0 6rem 6rem 6rem;
  box-sizing: border-box;
  width: 100%;

  --size: 3rem;
  --p-t: calc(0.2 * var(--size));
  --p-b: calc(0 * var(--size));
  --p: var(--p-t) 0 var(--p-b) calc(0.2 * var(--size));
  --line: calc(var(--p-t) + var(--p-b) + var(--size));

  h2 {
    text-align: center;
  }


    #ticker {
      height: 50vh;
      position: relative;
      width: 100%;

      #ticker__selected-frame {
        //outline: 1px solid white;
        //outline-offset: calc(0.1 * var(--size));
        font-size: var(--size);
        text-transform: uppercase;
        line-height: var(--size);
        position: absolute;
        top: calc(2 * var(--line));
        left: -.5ch;
        right: 0;
        display: flex;
        align-items: center;
        height: var(--size);
        padding: var(--p);
        background-color: #353535;
        border-bottom: 0.5rem #353535 solid;
      }
      #ticker__window {
        height: 50vh;
        width: calc(100vw - 12rem - 11.5ch);
        overflow: hidden;
        font-size: var(--size);
        left: 11.5ch;
        position: relative;
      }

      ul.pseudoservices {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          font-size: var(--size);
          line-height: 1;
          display: flex;
          align-items: center;
          height: var(--size);
          padding: var(--p);
          white-space: nowrap;
          overflow: hidden;
        }
      }

      .services{
        position: absolute;
        top: calc(3 * var(--line));
        background-color: #353535;
        padding: 2rem;
        width: calc(11.5ch - 4rem);
        font-size: var(--size);
        left: -1rem;

        img{
          border-radius: 100%;
          width: 5rem;
        }
        
        .service{
          display: flex;
          align-items: center;

          .service__link{
            color: var(--c-1);
            font-size: 1rem;
            font-weight: 400;
            display: flex;
            align-items: center;
            gap: 1rem;
          }
        }
      }
    }
  a.btn{
    align-self: center;
  }
}

.slides-controls {
  padding: 10px;  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  min-height: 70px;
  gap: 2rem;

  button{
    background: none;
    padding: 0;
    border: 0;
    cursor: pointer;
  }
}

.slides-container {
  position: relative;
  overflow: hidden;  
  display: none;
  flex: 1;
}

.slide {
  position: absolute;
  font-size: 90px;
  font-weight: 700;
  color: rgba(255,255,255,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  
  width: calc(100% / 3);
  width: 100%;
}

.slides-inner {
  position: relative;
  height: 7rem;
  width: 100%;  
  overflow: hidden;
}