#dev {
  display: flex;
  flex-direction: column;
  align-items: center;
  //min-height: calc(100vh - 2 * var(--section-padding));
  padding: 0 6rem;
  h2{
    margin: 0;
    text-align: center;
  }
  .cols{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
  }
  .wrapper{
    background: var(--c-glass);
    max-width: 35ch;
    padding: 2rem;
    .content {
      //padding: 1rem;
      h3{
        margin: 0;
        font-family: var(--f-accent);
        font-weight: 300;
        font-size: 2rem;
        line-height: 1.1em;
        color: var(--c-text-offset);
        text-transform: none;
        padding-bottom: 1rem;
      }
    }
    .footer{
      padding: 1rem;
      //background: var(--c-spacer);
      display: flex;
      justify-content: center;
    }
  }
  .code-wrapper{
    position: relative;
    &::before{
      position: absolute;
      top: 12rem;
      left: -4rem;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 2rem transparent solid;
    border-right: 2rem #1e1e1e solid;
    border-bottom: 2rem transparent solid;
    border-left: 2rem transparent solid;

  }
}
  img {
    width: 20rem;
    box-shadow: var(--sh-2);
    border-radius: 1.3rem;
  }
}