section#infographics{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 6rem;
  .subsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 6rem;
    outline: 1px solid rgba(255,255,255,0);
    svg{
      width: 110%;
    }
    &:first-child{
      
    }
    &:last-child{
      margin-top: 3rem;
      svg{
        width: 80%;
      }
    }
  }
}