@use "pitch";
@use "products";
@use "infographics";
@use "bitcoin";
@use "be-your-own";
@use "powered-by";
@use "support";
@use "dev";
@use "community";

body {
  margin: 0;
  background: linear-gradient(0deg, var(--c-bkg), var(--c-bkg)),
    url("/assets/images/bkg.jpg");
  background-blend-mode: color, normal;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  body {
    background: none;
    position: relative;
  }
  body::after {
    content: "";
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, var(--c-bkg), var(--c-bkg)),
      url("/assets/images/bkg.jpg");
    background-blend-mode: color, normal;
    background-size: auto 100vh;
    background-repeat: no-repeat;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  --section-padding: 6vh;
  // min-height: calc(100vh - 2 * var(--section-padding));
  // padding: 0 var(--section-padding);
}

.subsection {
}

.line {
  padding: 1rem 0 3.8rem 0;
}

.line-primary path {
  stroke: var(--c-line-primary);
  stroke-width: 1px;
  vector-effect: non-scaling-stroke;
}

.svg-primary {
  fill: var(--c-text-primary);
}

.svg-secondary {
  fill: var(--c-bkg);
}

.panel--shadow {
  box-shadow: var(--c-shadow-1) 0 3rem 3rem;
}

.section--inverse {
  background-color: var(--c-bkg-light-fade2);
  backdrop-filter: blur(1rem);
  h1,
  p {
    color: var(--c-bkg);
  }
  .svg-primary {
    fill: var(--c-bkg);
  }
  .svg-secondary {
    fill: var(--c-text-primary);
  }
}

.section--subtle {
  background-color: var(--c-bkg-dark-fade2);
  backdrop-filter: blur(1rem);
}

.line svg {
  width: calc(100vw - (2 * 6rem));
  max-width: 40vw;
  max-height: 40vh;
}

nav {
  color: var(--c-text-primary);
}

#logo {
  // transform: translateY(-5rem);
  animation: fadeIn ease 5s forwards;
  opacity: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;

  svg {
    width: 20rem;
    margin-top: 0.6rem;
  }
  span {
    padding-top: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1ch;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 10rem;
}

h1 {
  font-family: var(--f-hero);
  font-size: min(3.8rem, 171px);
  //text-transform: uppercase;
  line-height: 1;
  font-weight: 400;
  color: var(--c-text-primary);

  em {
    font-style: normal;
    // color: var(--c-text-accent);
  }

  .img-inline {
    height: 1.4em;
    margin: -0.3em -0.1em -0.2em -0.1em;
    position: relative;
  }
}

aside > h1 {
  font-family: var(--f-bold);
  font-size: 7rem;
  text-transform: uppercase;
  line-height: 1.1;
  color: var(--c-text-primary);

  em {
    font-style: normal;
    // color: var(--c-text-accent);
  }
}

h2 {
  font-family: var(--f-hero);
  font-size: 7rem;
  text-transform: uppercase;
  line-height: 1;
  color: var(--c-text-primary);

  em {
    font-style: normal;
    // color: var(--c-text-accent);
  }

  .img-inline {
    height: 1.4em;
    margin: -0.3em -0.1em -0.2em -0.1em;
    position: relative;
  }
}

p {
  font-family: var(--f-accent);
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.4;
  color: var(--c-text-primary);
  max-width: min(50ch, 73vw);

  em {
    font-style: normal;
    //color: var(--c-text-accent);
    font-weight: 600;
  }
}

a.btn {
  position: relative;
  padding: 0.7rem 1.7rem;
  color: var(--c-text-bright);
  background-color: var(--c-accent);
  border: 0;
  font-family: var(--f-accent);
  font-weight: 400;
  // text-transform: uppercase;
  font-size: 1.3rem;
  text-decoration: none;
  box-shadow: 0 1rem 1rem -0.5rem var(--c-shadow-3);
  border-radius: 34px;

  &:hover {
    transform: scale(1.03);
    filter: brightness(120%);
  }

  &.btn--subtle {
    color: var(--c-gray3);
    font-size: 1.2rem;
    &::before {
      background-color: var(--c-bkg-offset);
    }
    &::after {
      background-color: var(--c-gray5);
    }
  }
}

.nodes {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.row {
  display: flex;
  gap: 5rem;
  align-items: stretch;
  justify-content: center;
}

.path-node {
  border: var(--b-primary);
  display: inline-block;
  height: 20rem;

  &.path-node-text {
    width: 30rem;
    display: flex;
    align-items: center;
    p {
      margin: 0;
      padding: 1.5rem;
    }
  }

  &.path-node-img img {
    height: 20rem;
    width: 20rem;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.pseudoservices {
  margin: 0;
  padding: 0;
  li {
    text-transform: uppercase;
  }
}

// flipping some lines horizontally
#bitcoin-to-be,
#be-to-powered,
#powered-to-support,
#support-to-dev {
  transform: scaleX(-1);
}

section#reviews {
  padding: 2.5rem 0 1rem 0;
  overflow: visible;
  z-index: 6;
  position: relative;
  width: 90vw;

  p {
    font-size: 0.9rem;
  }

  .ap-widget__rev-stars,
  .ap-widget--carousel__first-row img {
    display: unset;
    width: auto;
  }

  .ap-widget__logo--carousel {
    display: none;
  }

  .ap-widget__review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 0 !important;
    padding: 0 !important;

    &:hover {
      font-size: unset;
      opacity: 50%;
    }
  }

  .ap-widget__author,
  .ap-widget__prod-rating-text--carousel {
    font-size: 0.7rem;
    color: var(--c-gray3) !important;

    a {
      color: var(--c-red1) !important;

      &:hover {
        font-size: unset;
        font-weight: bold;
      }
    }
  }

  .glider-track {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
  }

  .glider-dot.active {
    background: var(--c-red1);
  }

  .glider-next {
    right: -30px !important;
  }

  .glider-prev {
    left: -30px !important;
  }
}

.ratings {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  &-box {
    align-self: end;
  }

  img {
    display: unset;
    width: auto;
  }

  .ap-widget--mini {
    padding-top: 0;
  }

  .ap-widget__logo--mini {
    display: none;
  }

  .ap-widget__prod-rating-text--mini {
    a {
      color: var(--c-red1) !important;

      &:hover {
        font-size: unset;
        font-weight: bold;
      }
    }
  }
}

.video-container {
  width: 70vw;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;

  iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 500px) {
  #hero {
    margin-bottom: -20rem;
    padding-top: 0;
  }

  .line svg {
    max-height: 17vh;
  }

  section#reviews {
    p {
      font-size: 1rem;
    }

    .ap-widget__author,
    .ap-widget__prod-rating-text--carousel {
      font-size: 0.8rem;
    }

    .glider-dot {
      height: 9px;
      width: 9px;
    }
  }

  .ratings {
    &-gh-mobile {
      display: block;
    }

    &-gh-desktop {
      display: none;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .video-container {
    width: 90vw;
  }
}
