@use 'pitch';
@use 'products';
@use 'infographics';
@use 'bitcoin';
@use 'be-your-own';
@use 'powered-by';
@use 'support';
@use 'dev';
@use 'community';


body {
  margin: 0;
  background: linear-gradient(0deg, var(--c-bkg), var(--c-bkg)), url("/assets/images/bkg.jpg");
  background-blend-mode: color, normal;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */ 
  body{
    background: none;
    position: relative;
  }
  body::after{
    content:'';
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    background: linear-gradient(0deg, var(--c-bkg), var(--c-bkg)), url("/assets/images/bkg.jpg");
    background-blend-mode: color, normal;
    background-size: auto 100vh;
    background-repeat: no-repeat;
  }

}

main{
  display:flex;
  flex-direction: column;
  align-items: center;
}

section {
  --section-padding: 6vh;
  // min-height: calc(100vh - 2 * var(--section-padding));
  // padding: 0 var(--section-padding);
}

.subsection{
  
}

.line {
  padding: 1.8rem 0 1.4rem 0;
}

.line-primary path{
  stroke: var(--c-line-primary);
  stroke-width: 1px;
  vector-effect: non-scaling-stroke;
}

.svg-primary{
  fill: var(--c-text-primary);
}

.svg-secondary{
  fill: var(--c-bkg);
}

.panel--shadow {
  box-shadow: var(--c-shadow-1) 0 3rem 3rem;
}

.section--inverse{
  background-color: var(--c-bkg-light-fade2);
  backdrop-filter: blur(1rem);
  h1, p {
    color: var(--c-bkg);
  }
  .svg-primary{
    fill: var(--c-bkg);
  }
  .svg-secondary{
    fill: var(--c-text-primary);
  }
}

.section--subtle{
  background-color: var(--c-bkg-dark-fade2);
  backdrop-filter: blur(1rem);
}

.line svg{
  width: calc(100vw - (2 * 6rem));
  max-width: 50vw;
  max-height: 50vh;
}

nav {
  color: var(--c-text-primary);
}

#logo {
  transform: translateY(-5rem);
  opacity: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  svg {
    width: 15rem;
    margin-top: 0.6rem;
  }
  span{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1ch;
  }
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-bottom: calc(-1 * (50vh - 4.5rem - (min(32.385rem, 58.3vw) / 2)));
}

h1 {
  font-family: var(--f-hero);
  font-size: min(4.5rem,171px);
  //text-transform: uppercase;
  line-height: 1;
  font-weight: 400;
  color: var(--c-text-primary);

  em {
    font-style: normal;
    color: var(--c-text-accent);
  }

  .img-inline {
    height: 1.4em;
    margin: -0.3em -0.1em -0.2em -0.1em;
    position: relative;
  }
}

aside > h1 {
  font-family: var(--f-bold);
  font-size: 7rem;
  text-transform: uppercase;
  line-height: 1.1;
  color: var(--c-text-primary);

  em {
    font-style: normal;
    color: var(--c-text-accent);
  }
}

h2 {
  font-family: var(--f-hero);
  font-size: 7rem;
  text-transform: uppercase;
  line-height: 1;
  color: var(--c-text-primary);

  em {
    font-style: normal;
    color: var(--c-text-accent);
  }

  .img-inline {
    height: 1.4em;
    margin: -0.3em -0.1em -0.2em -0.1em;
    position: relative;
  }
}

p {
  font-family: var(--f-accent);
  font-weight: 300;
  font-size: 1.2rem; // 1.3rem
  line-height: 1.4;
  color: var(--c-text-primary);
  max-width: min(50ch, 73vw);

  em {
    font-style: normal;
    //color: var(--c-text-accent);
    font-weight: 600;
  }
}

a.btn {
  position: relative;
  padding: 0.4rem 2rem;
  transform: rotateX(25deg);
  color: var(--c-text-bright);
  border: 0;
  font-family: var(--f-accent);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.6rem;
  text-decoration: none;

  transform-style: preserve-3d;

  &:hover{
    //transform: rotateX(30deg);
    transform: scale(1.03);
    &::before {
      //box-shadow: inset 0 1rem 1rem -0.5rem var(--c-shadow-1);
    }
  }

  &::before {
    content: '';
    position: absolute;
    background-color: var(--c-text-accent);
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    transition: var(--t-simple);

  }
  &::after {
    content: '';
    position: absolute;
    background-color: var(--c-3d-shadow);
    display: block;
    left: 0;
    right: 0;
    height: 1rem;
    z-index: -1;
    transform: rotateX(90deg) translateY(2px);
    box-shadow: inset 0 0.3rem 0.5rem 0rem var(--c-shadow-1);
  }

  &.btn--subtle{
    color: var(--c-gray3);
    font-size: 1.2rem;
    &::before {
      background-color: var(--c-bkg-offset);
    }
    &::after {
      background-color: var(--c-gray5);
    }
  }
}

.nodes {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.row {
  display: flex;
  gap: 5rem;
  align-items: stretch;
  justify-content: center;
}

.path-node {
  border: var(--b-primary);
  display: inline-block;
  height: 20rem;

  &.path-node-text {
    width: 30rem;
    display: flex;
    align-items: center;
    p {
      margin: 0;
      padding: 1.5rem;
    }
  }

  &.path-node-img img {
    height: 20rem;
    width: 20rem;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.pseudoservices {
  margin: 0;
  padding: 0;
  li {
    text-transform: uppercase;
  }
}

// flipping some lines horizontally
#bitcoin-to-be, #be-to-powered, #powered-to-support, #support-to-dev {
  transform: scaleX(-1);
}


@media screen and (max-width: 500px) {
  #hero{
    //margin-top: 25vh;
  }
  .line svg{
    max-height: 30vh;
  }
}
