/* 
    scroll bar width from vizion;
    add shadows - maybe with animation
    more responsive scaling from vizion

*/

@use 'pitch';
@use 'highlights';
@use 'why';
@use 'how';
@use 'products';
@use 'community';
@use 'dev';


body, .ScrollSmoother-wrapper {
  margin: 0;
  background: linear-gradient(0deg, #333333, #333333),
    url("../../assets/images/bkg.jpg");
  background-blend-mode: color, normal;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
}

section {
  --section-padding: 2vh;
  min-height: calc(100vh - 2 * var(--section-padding));
  padding: var(--section-padding);
}

#hero-image img {
  width: 50rem;
  max-width: 90vw;
  margin-top: 4rem;
}

nav {
  color: var(--c-text-primary);
}

#logo {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 15rem;
  }
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: var(--f-hero);
  font-size: min(9rem,171px);
  text-transform: uppercase;
  line-height: 1;
  color: var(--c-text-primary);

  em {
    font-style: normal;
    color: var(--c-text-accent);
  }

  .img-inline {
    height: 1.4em;
    margin: -0.3em -0.1em -0.2em -0.1em;
    position: relative;
  }
}

aside > h1 {
  font-family: var(--f-bold);
  font-size: 7rem;
  text-transform: uppercase;
  line-height: 1.1;
  color: var(--c-text-primary);

  em {
    font-style: normal;
    color: var(--c-text-accent);
  }
}

h2 {
  font-family: var(--f-hero);
  font-size: 7rem;
  text-transform: uppercase;
  line-height: 1;
  color: var(--c-text-primary);

  em {
    font-style: normal;
    color: var(--c-text-accent);
  }

  .img-inline {
    height: 1.4em;
    margin: -0.3em -0.1em -0.2em -0.1em;
    position: relative;
  }
}

p {
  font-family: var(--f-accent);
  font-weight: 200;
  font-size: 2rem;
  color: var(--c-text-primary);

  em {
    font-style: normal;
    color: var(--c-text-accent);
  }
}





.nodes {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.row {
  display: flex;
  gap: 5rem;
  align-items: stretch;
  justify-content: center;
}

.path-node {
  border: var(--b-primary);
  display: inline-block;
  height: 20rem;

  &.path-node-text {
    width: 30rem;
    display: flex;
    align-items: center;
    p {
      margin: 0;
      padding: 1.5rem;
    }
  }

  &.path-node-img img {
    height: 20rem;
    width: 20rem;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.pseudoservices {
  margin: 0;
  padding: 0;
  li {
    text-transform: uppercase;
  }
}

