@use 'normalize';
@use 'fonts';
@use 'menu';
@use 'footer';
/* @use 'post'; */

:root { 
    background-attachment: fixed; 
    --viewportWidth: calc(100vw - var(--scrollbarWidth));

    --c-1: rgba(255,255,255);
    --c-text-primary: var(--c-1);
    --c-line-primary: var(--c-1);

    --c-2: #EF4B63;
    --c-text-accent: var(--c-2);
    --c-line-accent: var(--c-2);

    --c-3: #333;
    --c-bkg: var(--c-3);

    --c-4: #BA1930;
    --c-3d-shadow: var(--c-4);

    --c-5: rgba(255,255,255,1);
    --c-text-bright: var(--c-5);

    --c-6: rgb(194, 194, 194);

    --c-spacer: rgba(255,255,255,.05);
    --s-primary: 0.5;
    --b-primary: 1px solid var(--c-line-primary);
    --b-secondary: 1px dashed var(--c-line-primary);

    --f-hero: "Basis Grotesque Pro";
    --f-bold: "Tusker Grotesk 5500";
    --f-accent: 'Montserrat';
    --f-accent2: 'Arkibal Mono';
    --f-accent-bold: 'Montserrat';
    --f-accent2-bold: 'Arkibal Mono Rg';
    --f-copy: 'Liberation Mono';
    --f-button: 'Basis Grotesque Mono Pro';

    --t-simple: all .2s ease-in-out;
}

html {
    //background-color: lime;
    font-size: 2vmin;
    scroll-behavior: smooth;
    color: var(--c-text-primary);
    font-family: var(--f-accent);
    font-weight: 200;
    overflow: overlay;
    display: flex;

    /* width */
::-webkit-scrollbar {
    width: 1rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--c-2);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--c-1);
  }
}

body{
    background: #333333;
}

main{
    //transform: translateY(-100vh);
    perspective: 1000px;
}

a {
    text-decoration: none;
    transition: var(--t-simple);
}

h1, h2, h3, h4, h5 {
    margin: 0;
    text-transform: uppercase;
    em {
        color: var(--c-text-accent);
        font-style: normal;
    }
}

ul {
    margin:0;
    padding:0;
    li{
        list-style: none;
    }
}

header{
    position: fixed;
    width: 100vw;
    z-index: 2;
    top:0;

    .header__logo{
        opacity: 0;
        filter: blur(10px);
        margin-top: -.9rem;
        margin-bottom: -1rem;
        margin-left: 1rem;
        height: fit-content;
        img{
           width:8rem; 
        }
    }
}
nav{
    --padding: 1rem;
    //width: calc(100% - 2 * var(--padding) - 15px);
    width: 100vw;
    box-sizing: border-box;
    font-family: var(--f-accent);
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
    padding: var(--padding);
    display: flex;
    justify-content: space-between;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 1rem;
        li {
            list-style: none;
            a {
                color: var(--c-text-bright);
                font-size: 1.5rem;
                padding: 0em 0.5em 0em 0.5em;

                path {
                    fill: var(--c-text-bright);
                    transition: var(--t-simple);
                }

                &.em{
                    background-color: var(--c-text-accent);
                    margin-right: 1rem;
                    &:hover{
                        color: var(--c-text-accent);
                        background-color: var(--c-text-bright);
                    }
                }
                &:hover{
                    color: var(--c-text-accent);
                    path {
                        fill: var(--c-text-accent);
                    }
                }
            }
        }
    }
    &.scrolled-menu{
        backdrop-filter: blur(10px);
        background-color: rgba(0,0,0,0.1);
    }
}

#menu-open{
    display: flex;
    gap: .5em;
    align-items: center;
    svg{
        height: .7em;
        margin-top: -2px;
    }
}

.opened-menu {
    opacity: 0;
    width: 0;
    transform: translateX(3rem);
    //overflow: hidden;
    white-space: nowrap;
    //margin-left: -1rem;
}
.closed-menu {
    //overflow: hidden;
    white-space: nowrap;
}

#hero-image {
    position: relative;
    display: flex;
    img {
      width: 50rem;
      max-width: 90vw;
      margin-top: 4rem;
    }
  }

.img-shadow {
    filter: blur(2rem) brightness(0);
    z-index: -1;
    position: absolute;
    top: 5rem;
    opacity: .5;
  }

  @media only screen and (max-width: 500px) {
    .header__logo img{
        width: 11rem !important;
    }
    .hide-on-mobile{
        display: none;
    }
    nav ul li a {
        font-size: 2.5rem;
    }
  }

  .image-with-shadow{
    display: flex;
    position: relative;
  }