section#pitch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
    gap: 3rem;
  
    h1 {
      margin: 0;
      display: inline-block;
      max-width: 73vw;
    }
    p{
      max-width: min(50ch, 73vw);
    }
  }