section#pitch {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-bottom: 4rem;
    // gap: 1rem;
  
    h1 {
      margin-bottom: 16px;
      display: inline-block;
      max-width: min(16ch,64vw);
    }
    p{
      max-width: min(50ch, 64vw);
    }
    iframe{
      border:0;
      width: max(500px,50vw);
      height: max(282px,28.2vw);
      box-shadow: var(--c-shadow-1) 0 3rem 3rem;
    }
  }