section#powered-by {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 6rem 0 6rem;
  // gap: 1rem;

  h1 {
    margin-bottom: 16px;
    display: inline-block;
    max-width: min(16ch,64vw);
  }

  .logo {
    width: 5rem;
    padding-bottom: 2rem;
    margin: auto;
  }

  .inline+p {
    margin-top: -1.5rem;
  }
  
  svg {
    --width: min(45rem, (100vw - 12rem));
    width: --width;
  }

  #stack-image-block svg {
    height: calc((679 / 843) * var(--width)); // forcing aspect ratio for iOS
  }

  a.source-link{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--c-text-bright);
    line-height: 1;
    gap: 1rem;
    margin-bottom: -2rem;
    img{
      width: 10rem;
    }
    span{
      background-color: var(--c-text-accent);
      border-radius: 999px;
      padding: .15em .6em;
    transition: var(--t-simple);
      white-space: nowrap;
    }
    &:hover{
      transform: scale(1.05);
      span{
        background-color: var(--c-text-primary);
        color: var(--c-text-accent);
      }
    }
    &.source-link--floated{
      position: absolute;
    }
  }

}
svg a:link,
svg a:visited {
  cursor: pointer;
}

.container {
  width: 70vw;
  display: flex;
  justify-content: center;
}

.ratings {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin: 1rem;

  &-mobile {
    display: none
  }

  &-desktop {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    width: 100vw;
  }

  .ratings {
    &-mobile {
      display: block;
    }

    &-desktop {
      display: none;
    }
  }

  section#powered-by .inline img {
    padding-bottom: 4.7rem;
  }
}