section#powered-by {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 6rem 0 6rem;
  // gap: 1rem;

  h1 {
    margin-bottom: 16px;
    display: inline-block;
    max-width: min(16ch,64vw);
  }

  .logo {
    width: 5rem;
    padding-bottom: 2rem;
    margin: auto;
  }

  .inline+p {
    margin-top: -1.5rem;
  }
  
  svg {
    --width: min(45rem, (100vw - 12rem));
    width: --width;
  }

  #stack-image-block svg {
    height: calc((679 / 843) * var(--width)); // forcing aspect ratio for iOS
  }

  a.source-link{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--c-text-bright);
    line-height: 1;
    gap: 1rem;
    margin-bottom: -2rem;
    img{
      width: 10rem;
    }
    span{
      background-color: var(--c-text-accent);
      border-radius: 999px;
      padding: .15em .6em;
    transition: var(--t-simple);
      white-space: nowrap;
    }
    &:hover{
      transform: scale(1.05);
      span{
        background-color: var(--c-text-primary);
        color: var(--c-text-accent);
      }
    }
    &.source-link--floated{
      position: absolute;
    }
  }

}
svg a:link,
svg a:visited {
  cursor: pointer;
}

.container {
  width: 70vw;
  display: flex;
  justify-content: center;
}

.ap-widget-container {
  width: 90vw;
  margin: 2rem 0 3rem 0;
  text-align: center;

  .glider-next, .glider-prev {
    img {
      filter: invert(1);
    }
  }

  a {
    color: var(--c-red1);
    font-size: 0.7rem!important;
  }

  .ap-avg-rat-c {
    // font-variant: all-small-caps;
    text-transform: none;
    font-size: 0.7rem!important;
  }

  .glider-slide:hover {
    background-color: transparent!important;
    opacity: 50%;
  }

  .glider-dots {
    padding: 1rem;
  }

  .glider-track {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
  }

  .ap-review {
    height: 100%!important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0!important;
    padding: 0!important;
  }

  .glider-dot.active {
    background: var(--c-red1);
  }
    
  .glider-contain {
    padding-left: 80px;
    padding-right: 80px;
  }

  .ap-review-author, .ap-read-more {
    color: var(--c-gray3)!important;
  }

  .ap-logo-c {
    background: var(--c-gray5);
    border-radius: 1.7rem;
    padding: 10px 12px;
    width: 100px!important;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    width: 100vw;
  }

  section#powered-by .inline img {
    padding-bottom: 4.7rem;
  }

  .ap-widget-container {
    .ap-logo-c {
      width: 65px !important;
      border-radius: 2.7rem;
      padding: 6px 8px!important;
    }

    .glider-contain {
      padding: 0 40px;
    }
  }
}