section#products {
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  
  .subsection {
    transform-style: preserve-3d;
    position: relative;

    .heading{
      transition: var(--t-simple);
      z-index: 1;
    }

    .product__header {
      transition: var(--t-simple);
    }

    .product__subheader{
      font-weight: 500;
      color: var(--c-text-primary);
      text-transform: uppercase;
      transition: var(--t-simple);
    }
    img {
      //transition: var(--t-simple);
      width: 42vw;
    }
    a {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 2rem;
      //transition: var(--t-simple);
      .heading h1 {
        line-height: .8;
      }
      &:hover{
        .heading {
          transform: scale(1.1);
          > *{
            color: var(--c-text-accent);
          }
        }
        // img{
        //   transform: scale(1.1);
        //   opacity: .2;
        // }
      }
    }
    &:first-of-type a {
      align-items: center;
      .heading {
        //left: 6rem;
        //top: 6rem;
        //position: absolute;
        align-self: center;
        text-align: center;
        display: flex;
        flex-direction: column;
      }
      .product__subheader{

      }
      background: linear-gradient(45deg, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.05));
      svg{
        width: 27.5vw;
        position: absolute;
      }
    }
    &:last-of-type a {
      align-items: flex-start;
      .heading {
        // right: 6rem;
        // top: 6rem;
        // position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-self: center;
      }
      h1{
        letter-spacing: .5rem;
      }
      .product__subheader{

      }
      background: linear-gradient(45deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.25));
      svg{
        width: 27.5vw;
        position: absolute;
      }
    }
  }
  // &::after{
  //   content: '';
  //   left:0;
  //   right:0;
  //   display: block;
  //   background-color: blue;
  //   transform: rotateX(90deg);
  //   height: 4rem;
  //   z-index: -1;
  // }
}
