section#products {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  .subsection {
    .product__subheader{
      font-weight: 500;
      color: var(--c-text-primary);
      text-transform: uppercase;
    }
    img {
      transition: all ease-in-out .2s;
      width: 42vw;
    }
    a {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 2rem;
      transition: all ease-in-out .2s;
      .heading h1 {
        line-height: .8;
      }
      &:hover{
        .heading h1, .heading span {
          color: var(--c-text-accent);
        }
        img{
          transform: scale(1.1);
          opacity: 0;
        }
      }
    }
    &:first-of-type a {
      align-items: flex-end;
      .heading {
        left: 6rem;
        top: 6rem;
        position: absolute;
        align-self: flex-end;
        text-align: center;
        display: flex;
        flex-direction: column;
      }
      .product__subheader{

      }
    }
    &:last-of-type a {
      align-items: flex-start;
      .heading {
        display: inline-block;
        right: 6rem;
        top: 6rem;
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      h1{
        letter-spacing: .5rem;
      }
      .product__subheader{

      }
    }
  }
}
